

@font-face {
	font-family: AptimaBold;	src: url('font/UTM AptimaBold.ttf');
}


body {
	width:960px;
	margin: 0 auto;
	padding:0;
	background: url('images/bg.gif') repeat;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color:#515151;
}

a {
	text-decoration: none;
	color:#006699;}
a:hover {color: #336699;
	text-decoration: none;}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

img {
    border: none;
}

p, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	}





#topbar {
	background-color: rgba(0,0,0,0.7);
	height:25px;
	}
	
	#topbar .slogan {
		float:left;
		width:500px;
		font-size:12px;
		color:#737373;
		margin: 5px 0 0 30px;
		padding:0;
		}
		
	#topbar .top-menu{
		float:right;
		margin: 3px 10px 0 0;
		}
		
		.top-menu a{
			font-size: 12px;
			color:#737373;
			}
		
		.top-menu a:hover {
			color:#ccc;
			}
	
#header {
	background-color: rgba(0,0,0,0.5);
	width:100%;
	height: 100px;
	margin: 0;
	}
	
	#logo {
		float:left;
		width: 240px;
		margin: 5px 0px 10px 30px;
	}
	
#menu {
	float:right;
	
	height: 33px;
	margin: 40px 10px 20px 0;
	padding: 0px;
}
#menu ul {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}
#menu li a, #menu li a:link, #menu li a:visited {
	margin: 0px;
	padding: 5px 12px 5px 10px;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-family: AptimaBold;
}
#menu li a:hover, #menu li a:active {
	background: #ccc;
	margin: 0px;
	padding: 5px 10px;
	color: #000;
	border:1px solid #fff;
	display: block;
	text-decoration: none;
	font-family: AptimaBold;
}
#menu li li a, #menu li li a:link, #menu li li a:visited {
	background: #fff;
	width: 100px;
	float: none;
	margin: 0px;
	padding: 6px 15px;
	color: #333;
	font-weight: normal;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
#menu li li a:hover, #menu li li a:active {
	background: #5CA12F;
	padding: 6px 15px;
	color: #fff;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
#menu li ul {
	background: #fff;
	z-index: 9999;
	position: absolute;
	height: auto;
	width: 150px;
	margin: 0px;
	padding: 0px;
	left: -999em;
	border-top: 1px solid #e6e6e6;
}
#menu li li, #menu li li li {
	border: none;
	margin: 0px 0px 0px -1px;
}
#menu li ul a {
	
}
#menu li ul a:hover, #menu li ul a:active {
	
}
#menu li ul ul {
	margin: -31px 0px 0px 180px;
	border-top: 1px solid #e6e6e6;
}
#menu li:hover ul ul, #menu li:hover ul ul ul, #menu li.sfhover ul ul, #menu li.sfhover ul ul ul {
	left: -999em;
}
#menu li:hover ul, #menu li li:hover ul, #menu li li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul, #menu li li li.sfhover ul {
	left: auto;
}
#menu li:hover, #menu li.sfhover {
	position: static;
	}	
	
#wrap {
	background:#fff;
	width:960px;
	margin:0;
	float:left;
	}
	
#featured {
	float:left;
	width:960px;
	height: 320px;
	margin: 0;
	background: url('images/featured-bg.png') repeat;
	}
	
	.featured-holder {
		float:left;
		width:940px;
		height:300px;
		background: #fff;
		margin: 10px;
		border: solid 1px #ccc;
	}
	
	.image-shadow {
		-moz-box-shadow: 3px 3px 3px #000;
		-webkit-box-shadow: 3px 3px 3px #000;
		box-shadow: 3px 3px 3px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
	}

	
.ribbon {
	float:left;
	background:url('images/ribbon.png') no-repeat;
	width:100%;
	height:61px; 
	margin: 10px 0 0 -11px;
	}	
	
#intro {
	width:960px;
	padding:0;
	margin:0;
	float:left;
	}

	#intro .intro-title {
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 5px 0 10px 10px;
		color:#fff;
		text-shadow: #515151 0.1em 0.1em 0.1em;
		font-family: AptimaBold;
		}
	
	#intro .col-title {
		padding:5px 0 0 5px;
		margin:5px 0;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		color:#fff;
		text-align: center;
	}
	
	#intro .text {
		font-size: 14px;
		line-height: 16px;
		padding:0 5px 5px 5px;
		color:#fff;
		}
	
	
	#col1, #col2, #col3 {
		float:left; 
		width:300px;
		height:250px;
		margin: 10px 0 10px 0;
		padding:0;
	}	
	#col1 { margin-left: 20px;
		background: url('images/blue_box.png');
		}
	#col2, #col3 {
		margin-left: 10px;
		}
		
	#col2 {
		
		}
		
	#col3 {
		
		}
		
	
	#p-list {
		float:left;
		width:620px;
		margin:20px 0;
		padding-left:20px;
		}
		
	.p-item {
		float:left;
		width:300px;
		margin:10px 10px 10px 0;
		}
	
	.p-item .thumb {
		float:left;
		width:100px;
		height:100px;
		border:none;
		margin-right:5px;
		}
		
	.p-item .title {
		float:left;
		width:190px;
		font-size:14px;
		font-weight:bold;
		text-transform:uppercase;
		margin-bottom: 5px;
		font-family: AptimaBold;
		}
	
	.p-item .summary {
		font-size:14px;
		line-height: 18px;
		padding:3px;
		}
	
	
	#p-list1 {
		float:left;
		width:620px;
		margin:20px 0;
		
		}
		
	.p-item1 {
		float:left;
		width:100%;
		margin:10px 10px 10px 0;
		}
	
	.p-item1 .thumb {
		float:left;
		width:128px;
		height:128px;
		border:none;
		margin-right:20px;
		}
		
	.p-item1 .title1 {
		float:left;
		width:450px;
		font-size:18px;
		font-weight:bold;
		text-transform:uppercase;
		margin-bottom: 5px;
		font-family: AptimaBold;
		}
	
	.p-item1 .summary1 {
		font-size:14px;
		line-height: 18px;
		padding:3px;
		width:500px;
		}
		
		
	#post-holder {
		width:620px;
		float:left;
		margin: 10px 0 20px 20px;
		}
		
	.post-title {
		width:100%;
		float:left;
		font-size:22px;
		color:#737373;
		border-bottom:1px solid #737373;
		text-transform:uppercase;
		font-weight:bold;
		margin-bottom:20px;
		font-family: AptimaBold;
		}
		
	.post-content {
		font-size:14px;
		line-height: inherit;
		}
	
	.post-content p, .post-content h3, .post-content h4 {
		margin:8px;
	}
	
#sidebar-left{
	float:left;
	width:250px;
	margin: 0px 10px 20px 0;
	border-right: 2px solid #e7e4e4;
	}

#v-menu {
	width: 200px;
	margin: 10px 10px 10px 30px;
	text-align:right;
	}
	
#v-menu li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	font-family: AptimaBold;
	}	
	
#v-menu li a:link, #v-menu li a:visited {
	color: #737373;
	display: block;
	padding: 8px 15px 0 30px;
	}
	
#v-menu li a:hover, #v-menu li a.active {
	color: #fff;
	padding: 8px 15px 0 30px;
	background:#999;
	font-family: AptimaBold;
	}
	

#sidebar-right{
	float:right;
	width:300px;
	margin: 20px 10px 20px 0;
	}
	
	.live-support {}
	
	.ls-title {
		font-size:16px;
		font-weight:bold;
		text-transform:uppercase;
		border-bottom:1px solid #000;
		margin-bottom:10px;
		}
		
	.ls-item {
		width:100%;
		margin:5px 5px 5px 20px;
		float:left;
		}
		
	.ls-text {
		width:100px;
		float:left;
		font-size: 15px;
		text-transform:uppercase;
		margin-top:50px;
		}
		
	.ls-thumb {
		float:left;
		width: 140px;
		
		}
		
		#price-list{
		width: 100%;
		float:left;
		margin: 20px 0;	
			}
		
		.price-item {
			float:left;
			width:100%;
			margin: 10px 0;
			}
			
		.price-image {
			float:left;
			margin:10px;
			margin: 0px 10px 10px 40px
			
			}	
		
		.ptitle {
			width:250px;
			float:left;
			font-weight: bold;
			font-size: 16px;
			margin: 0 0px 0 20px;
			border:1px solid #ccc;
			border-bottom:none;
			padding: 3px 0 3px 10px;
			}
		
		.pcontent {
			width:150px;
			float:left;
			font-size: 16px;
			margin: 0 3px 0 0px;
			padding: 3px 10px;
			border:1px solid #ccc;
			border-left: none;
			border-bottom: none;
			}
			
		.discount {
				float:absolute;
				margin: -10px 0 0 -50px;
				z-index:999;
			}
		
		.pricing-all {
			width:90%; 
			margin: -20px 0 0 50px;
			}
			
		.pricing-info {
			margin: 10px 50px;
			color:#737373;
			}
		
		.pricing-title {
			margin: 3px 5px 10px 0;
			float:left;
			}
		
		.pricing-content {
			float:left;
			}
			
		#price-detail {
			float:left;
			width:960px;
			margin: 0px 50px 20px 50px
			}
		
		#price-detail ul, #price-detail ul li, #price-detail li {
			float:left;
			margin:0;
			padding:0;
			list-style-type: none;
			}
		
		#price-detail li {
			padding:0 110px;
			}
		
		#price-detail li a {
			float:left;
			display: block;
			text-transform: uppercase;
			}
			
		#p-standard, #p-enterprise, #p-optional, #p-note {
			float:left;
			margin:0;
			padding:10px 120px;
			}	
		
#main{}

#footer{
	float:left;
	width:960px;
	background-color: #000; 
	}
	
	#credit {
		padding:0 10px;
	}
	
	 .text {
		color:#737373;
		font-size: 12px;
		text-align: center;
		margin:5px;
		}